---
layout: default
title: Orta Therox
---

<ul id="archives">
  {% for post in site.posts reverse %}
  
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% unless year == this_year %}
      {% assign year = this_year %}
      <h2>{{ year }}</h2>
    {% endunless %}
  
    
    <li>
      <div class="date">{{ post.date | date: "%B"  }}</div>
      <div class="title"><a href= "/rebase{{ post.url }}">{{ post.title }}</a></div>
    </li>

  {% endfor %}

  
{% for post in site.posts %}
{% endfor %}
</ul>
<p>&nbsp;</p>
