body {
    width: auto;
    padding:0;
    background-color:#d7d7d7;
}

#post {
    font-size: 1.5em;
    width: auto;
    position: initial;
    margin-top: 32px;
}

#post-content {
    padding:10px;
}

#post p {
    padding:12px;
}

h1 {
    text-align:center;
}

h2 {
    clear:both;
    margin-bottom: 0px;
    margin-top: 3em;
    width:80px;
    text-align:right;
    text-decoration: underline;
}

@media (max-width:1024px){
  body {
    font-size:3em;
  }
  ul#archives div.date {
    float:none;
  }
}

ul#archives {
    font-size:1.2em;
}

ul#archives div.date {
    width: 4em;
    padding-top: 2em;
}

img {
  max-width:100%;
}

@media (min-width:640px){
    h1 {
        text-align:left;
    }
}

@media (min-width:1024px){
    body{
        width:100%;
    }

    #post {
        width: 1024px;
        margin: 32px auto;
    }

    ul#archives {
        padding:20px;
    }

    ul#archives div.date {
        float:none;
    }

    ul#archives div.title {
        margin-left: 96px;
    }
}
