<html>
<head>
  <base href="http://orta.github.io/">

  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>ortatherox - {{ page.title }}</title>
  <!-- 26 dec 2011 -->
  <!-- 17 June 2014 -->
  <link rel="canonical" href="http://orta.github.io/">
  <meta name="author"  content="orta; http://orta.github.com/" /> 
  <meta name="title" content="rebase orta" /> 
  <meta name="description" content="Blog for ORta Therox" /> 
  <meta name="keywords" content="orta github cocoapods cocoadocs xcode plugins swift objc community" /> 
  <meta name="robots" content="all,follow" /> 
  <link rel="alternate" type="application/atom+xml" title="Atom Blog Feed" href="http://orta.github.com/rebase/blog.atom" />
  
  <link rel="stylesheet" href="/assets/fonts/stylesheet.css">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <link rel="stylesheet" href="/assets/stylesheets/syntax.css">
  
  <link rel="stylesheet" href="/rebase/assets/stylesheets/rebase.css">
  <link rel="stylesheet" href="http://localhost:4000/assets/stylesheets/rebase.css">

  <script src="/assets/javascripts/head.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5057919-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
    head.js("http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js");
    
  </script>
  
</head>
<body>
  {{content}}
</body>
</html>
