---
layout: default
---
<div id="post">
  <div id="post-content">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
  <hr/>
  
  <div id="footer">
    <p>
      Hi, I'm Orta, I build things you probably know of. Keep up to date by following me on <a href="http://twitter.com/orta">@orta</a>.
    </p>
    
    <p>Or alternatively check out <a href="http://orta.github.io">my website</a>.</p>
  </div>
</div>

<script type="application/javascript">  
    head.ready( function() {
      
      $("a.inline").click(function(){
        
        // a mini lightbox
        var link = $(this);
        link.addClass("selected")
        $("body").append("<div id='background'> </div>")
        $("body").append("<div id='popover'> </div>")
        var img = new Image();
        
        $(img).load(function(){
          $("#popover").append(this)
          $("#popover, #background").click(function(){
            $("#popover, #background").remove()
            link.removeClass("selected")
          })
        })
        
        .attr('src',  $(this).attr("href"))
        .attr('id',  "quickimage");  
        
        var distance = link.hasClass("apple") ? 18 : 28
        $("#popover").css("top",  link.position().top + distance )
        return false;
      })
                
    });
</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
